.catalog {
  background-color: $lightest-grey;
  padding: 50px 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px;
  }
}

.catalog__title {
  max-width: 280px;
  min-height: 72px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: $base-black;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    font-size: 42px;
    max-width: 1360px;
    line-height: 64px;
    text-align: center;
    margin: 0 auto 30px auto;
  }
}

.catalog__mark {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
  order: -1;
  margin: 0;
  margin-bottom: 4px;
}

.catalog__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1011px;
    column-gap: 30px;
  }
}

.catalog__wrap {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 728px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1011px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}
