.page-footer {
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    grid-template-rows: 40px 1fr 20px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
    grid-template-rows: 1fr 20px;
    gap: 30px;
    padding: 40px;
  }
}

.page-footer__item {
  min-height: 80px;
  border-bottom: 1px solid $base-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding: 20px;
  }

  @media (min-width: $tablet-width) {
    min-height: 16px;
    //margin-bottom: 30px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.page-footer__logo {
  min-height: 36px;
  width: 82px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
    color: $base-primary;
  }

  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.page-footer__logo img {
  display: block;
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-right: 20px;
  }
}

.page-footer__tagline {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.page-footer__wrap {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/1;
    grid-row: 1/2;
  }
}
