.page-header {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  background-color: $base-white;
  color: $base-black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 60px;
  width: 32px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
    color: $base-primary;
  }

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    min-height: 80px;
    width: 82px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin-left: 40px;
  }
}

.page-header__logo img {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-right: 20px;
  }
}

.page-header__tagline {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

