.slider {
  background-color: $base-white;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper-wrapper {
  max-width: 320px;
  max-height: 656px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    max-height: 828px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    max-height: max-content;
  }
}

.slider__item {
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  &--flat {
    background-color: $flat-white;
  }

  &--lavender {
    background-color: $lavender-latte;
  }

  &--espresso {
    background-color: $espresso;
  }

  @media (min-width: $tablet-width) {
    height: 828px;
    position: relative;
    padding: 60px 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 768px;
      height: 188px;
      background-color: $base-white;
    }
  }

  @media (min-width: $desktop-width) {
    height: 714px;
    padding: 30px 80px 84px 80px;
    display: grid;
    grid-template-columns: 600px 625px;
    gap: 30px;

    &::after {
      display: none;
    }
  }
}

.slider__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}

.slider__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 280px;
  margin: 0 auto 10px auto;

  @media (min-width: $tablet-width) {
    width: 608px;
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 56px;
    line-height: 80px;
    margin-left: -44px;
  }
}

.slider__flag {
  order: -1;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.slider__description {
  font-size: 14px;
  line-height: 20px;
  width: 280px;
  margin: 0 auto 20px auto;

  @media (min-width: $tablet-width) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.slider__image {
  order: -2;
  width: 280px;
  min-height: 280px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  img {
    display: block;
    object-fit: cover;

    @media (min-width: $tablet-width) {
      width: 476px;
    }

    @media (min-width: $desktop-width) {
      width: 600px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 476px;
    min-height: 476px;
    position: absolute;
    top: 352px;
    left: 146px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    min-height: 600px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    grid-column: 1/2;
  }
}

.slider__buy {
  width: 230px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
